/* This file is for your main application css. */
@import "bootstrap";

//.side {
//  padding: 4ex;
//  text-align: center;
//}

h1 {
  text-align: center;
}

td {
  text-align: center;
}

.container {
  border-style: dashed;
  border-color: blue;
}

.col {
  text-align: center;
  /* overflow: auto; */
}
.btn-dark {
    font-size: 5rem;
    width: 9rem;
    height: 9rem;
}
