/* This file is for your main application css. */
@import "bootstrap";

//.side {
//  padding: 4ex;
//  text-align: center;
//}

h1 {
  text-align: center;
}

td {
  text-align: center;
}

.col {
  text-align: center;
  width: 1px;
}

.row {
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn-dark {
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
}

.last-row {
    margin-top: 3rem;
}

.clicks {
    text-align: left;
    width: 10rem;
}

.col-clicks {
    margin-right: 5rem;
}

.col-reset {
    margin-left: 5rem;
    margin-top: .4rem;
}
